@using RunGroopWebApp.ViewModels
@model UserDetailviewModel

<div class="container">
	<h1 class="my-4">page heading
		<small>secondary text</small>
	</h1>
	<div class="row">
		<div class="col-md-8">

		</div>
		<div class="col-md-4">
			<h3 class="my-3">@Model.Mileage</h3>
			<p>@Model.Pace</p>
			<h3 class="my-3">Location</h3>
			<ul>

			</ul>
		</div>
	</div>
</div>